<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 panel-default">
     <div class="panel-heading">Info Center</div>
      <div class="panel-body">
        <p>Click ￼ icons to get more information!</p>
      </div>
    </div>

    <div class="col-xs-9 panel-default">
      <div class="panel-heading">ADULTS IN HOUSEHOLD</div>
      <div class="panel-body">
<center>
<p ng-hide="adults">No adult household members currently added yet!</p>
<p>The following adults have been added to the household</p>


<div class="col-md-10-offset-1">
<table style="width:100%">
  <tr>
    <th>NAMES OF ADULTS</th>
    <th></th>    
    <th></th>
  </tr>
  <tr ng-repeat="adult in adults">
    <td>{{adult.firstname}} {{adult.lastname}}</td>
    <td><a ui-sref="form.adults-edit"><button>Edit</button></a></td>
    <td><button ng-click="deleteAdult(adult)">Delete</button></td>
  </tr>
 
</table>
</div>

<a ui-sref="form.adults-new"><button>Add Adult</button></a>
</center>

<!-- <div class="form-group row">
<h5>No adult household members currently added yet!</h5>
    <div>
    <form ng-show="showForm"><div style="margin:0;padding:0">
    <h5>Adult’s Information (required)</h5>
      <div>
        <label for="username">First Name</label>
        <input id="user_first_name" name="" size="30" type="text" />

        <label for="name">Last Name</label>
        <input id="user_last_name" name="" size="30" type="text" />
      </div>
    </form>
</div>

<div class="col-xs-6 col-xs-offset-3">
    <div class="btn btn-block btn-default" ng-click="showForm = !showForm"> + Add an adult household member</div>

</div> -->

<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">
          <a ui-sref="form.childrenInHousehold1" class="btn btn-info">
      <span class="glyphicon glyphicon glyphicon-backward"></span>
      Back
      </a>

      <a ui-sref="#" class="btn btn-info">
      Save<span class="glyphicon glyphicon glyphicon-save"></span>
      </a>
      <a ui-sref="form.income1" class="btn btn-info">
      Continue<span class="glyphicon glyphicon-forward"></span>
      </a>
    </div>
  </div>
</div>
</div>

  </div>
      </div>
    </div>
  </div>


