<nav class="navbar navbar-default" ng-controller="NavCtrl">
 <div class="container-fluid navbarContainer">
  <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <span><<!-- img alt="Brand" id="usdaLogo" src="#"> -->LOGO HERE</span>
    </a>
  </div>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right" id="progressHeader">

      <li><a ui-sref-active="active" ui-sref="form.welcome"><span>1</span> Welcome</a></li>
      <li><a ui-sref-active="active" ui-sref="form.profile"><span>2</span> Profile</a></li>
      <li><a ui-sref-active="active" ui-sref="form.education"><span>3</span> Education &<br>Job Training</a></li>
    

      <li><a ui-sref-active="active" ui-sref="form.veteranmentornetwork"><span>4</span> Veteran <br>Mentor Network</a></li>


      <li><a ui-sref-active="active" ui-sref="form.jobsearch"><span>5</span> Job <br>Search</a></li>

      <li><a ui-sref-active="active" ui-sref="form.entrepreneurship"><span>6</span> Veteran <br>Entrepreneurship</a></li>

      <li><a ui-sref-active="active" ui-sref="form.housing"><span>7</span> Housing <br>Resources</a></li>
      <li><a ui-sref-active="active" ui-sref="form.healthcare"><span>8</span> Healthcare</a></li>
      <li><a ui-sref-active="active" ui-sref="form.events"><span>8</span> Events</a></li>
  

      <li><a ui-sref-active="active" ui-sref="#">Hi {{ currentUser.username }}</a></li>
      <li><a ui-sref-active="active" ui-sref="#"> Help</a></li>
      <li><a ui-sref-active="active" ng-click="logout()">Logout</a></li>
    </ul>
  </div>
</div>
</nav>



        <div id="form-views" ui-view></div>
        
    


