<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 panel-default">
     <div class="panel-heading">Info Center</div>
      <div class="panel-body">
        <p>Click ￼ icons to get more information!</p>
      </div>
    </div>

    <div class="col-xs-9 panel-default">
      <div class="panel-heading">STATUS OF CHILDREN</div>
      <div class="panel-body">
<p>Do any of the children in the household have the following statuses?</p>

    <div class="container">
      <label for="childstatus">Child Status</label><br>
  <div class="checkbox">
  <label><input type="checkbox" value="">Foster Child</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Head Start</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Homeless</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Runaway</label>
  </div>
  <div class="checkbox">
  <label><input type="checkbox" value="">Migrant</label>
  </div>
    </div>

<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">

        <a ui-sref="form.childStatus1" class="btn btn-info">
      <span class="glyphicon glyphicon glyphicon-backward"></span>
      Back
      </a>

      <a ui-sref="#" class="btn btn-info">
      Save<span class="glyphicon glyphicon glyphicon-save"></span>
      </a>
      <a ui-sref="form.childrenInHousehold1" class="btn btn-info">
      Continue<span class="glyphicon glyphicon-forward"></span>
      </a>
    </div>
  </div>
  </div>
</div>

  </div>
      </div>
    </div>
  </div>