<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 panel-default">
     <div class="panel-heading">Info Center</div>
      <div class="panel-body">
        <p>Click ￼ icons to get more information!</p>
      </div>
    </div>

    <div class="col-xs-9 panel-default">
      <div class="panel-heading">INCOME</div>
      <div class="panel-body">
<div class="container">
  <form role="form">

    <h5>Name of adult : Jacob Smith</h5>
    </div>
    	<h5>Income from work<span id="howoften">HOW OFTEN (select one)</span></h5>
    	<form role="form">
    	 <input placeholder="$" type="firstname" class="radio-inline">
    		<label class="radio-inline" for="weekly">
    			<input type="radio" ng-model="string" id="weekly">Weekly</label>
    			<label class="radio-inline" for="bi-weekly">
    				<input type="radio" ng-model="string" id="bi-weekly">Bi-Weekly</label>
    				<label class="radio-inline" for="2xMonth">
    					<input type="radio" ng-model="string" id="2xMonth">2x Month</label>
    					<label class="radio-inline" for="monthly">
    						<input type="radio" ng-model="string" id="monthly">Monthly</label>
    					</form>

    					    	<h5>Income from public assistance/child support/alimony<span id="howoften">HOW OFTEN (select one)</span></h5>
    	<form role="form">
    	 <input placeholder="$" type="firstname" class="radio-inline">
    		<label class="radio-inline" for="weekly">
    			<input type="radio" ng-model="string" id="weekly">Weekly</label>
    			<label class="radio-inline" for="bi-weekly">
    				<input type="radio" ng-model="string" id="bi-weekly">Bi-Weekly</label>
    				<label class="radio-inline" for="2xMonth">
    					<input type="radio" ng-model="string" id="2xMonth">2x Month</label>
    					<label class="radio-inline" for="monthly">
    						<input type="radio" ng-model="string" id="monthly">Monthly</label>
    					</form>

    					    	<h5>Pensions/Retirement/all other income<span id="howoften">HOW OFTEN (select one)</span></h5>
    	<form role="form">
    	 <input placeholder="$" type="firstname" class="radio-inline">
    		<label class="radio-inline" for="weekly">
    			<input type="radio" ng-model="string" id="weekly">Weekly</label>
    			<label class="radio-inline" for="bi-weekly">
    				<input type="radio" ng-model="string" id="bi-weekly">Bi-Weekly</label>
    				<label class="radio-inline" for="2xMonth">
    					<input type="radio" ng-model="string" id="2xMonth">2x Month</label>
    					<label class="radio-inline" for="monthly">
    						<input type="radio" ng-model="string" id="monthly">Monthly</label>
    					</form>
    				</div> 

<div class="form-group row">
<div class="inline-block">
  	<div class="clearfix"> 
			<div class="btn-group inline pull-right" data-toggle="buttons-checkbox">
            <a ui-sref="form.income3" class="btn btn-info">
            <span class="glyphicon glyphicon glyphicon-backward"></span>Back</a>

			<a ui-sref="#" class="btn btn-info">
			Save<span class="glyphicon glyphicon glyphicon-save"></span>
			</a>
		<!-- 	<a ui-sref="form.income5" class="btn btn-info">
			Continue<span class="glyphicon glyphicon-forward"></span>
			</a> -->
		</div>
	</div>
	</div>
</div>

  </div>
      </div>
    </div>
  </div>