<div class="container-fluid">
  <div class="row">
    <div class="col-xs-3 panel-default">
     <div class="panel-heading">Info Center</div>
      <div class="panel-body">
        <p>Click ￼ icons to get more information!</p>
      </div>
    </div>

    <div class="col-xs-9 panel-default">
      <div class="panel-heading">STATUS OF CHILDREN</div>
      <div class="panel-body">
<!-- <h1>Child Status 1</h1> -->
Do any of the children in the household have the following statuses?


<div class="headContainer">
  <h5 class="radioHeader">All children in household</h5>
  <h5 class="radioHeader">Some children in household (but not all)</h5>
</div>
<div class="csContainer">
  <h5 class="csLabel">Foster Child</h5>
  <div class="csLabel pull-right">
    <label class="radio-inline">
      <input name="radioGroup" id="fc1" value="all" type="radio"> 
    </label>
    <label class="radio-inline">
      <input name="radioGroup" id="fc2" value="some" checked="" type="radio"> 
    </label>
  </div><br>
  <h5 class="csLabel">Runaway</h5>
  <div class="csLabel pull-right">
    <label class="radio-inline">
      <input name="radioGroup" id="r1" value="all" type="radio"> 
    </label>
    <label class="radio-inline">
      <input name="radioGroup" id="r2" value="some" checked="" type="radio"> 
    </label>
  </div><br>
  <h5 class="csLabel">Homeless</h5>
  <div class="csLabel pull-right">
    <label class="radio-inline">
      <input name="radioGroup" id="h1" value="all" type="radio"> 
    </label>
    <label class="radio-inline">
      <input name="radioGroup" id="h2" value="some" checked="" type="radio"> 
    </label>
  </div><br>
  <h5 class="csLabel">Head Start</h5>
  <div class="csLabel pull-right">
    <label class="radio-inline">
      <input name="radioGroup" id="hs1" value="all" type="radio"> 
    </label>
    <label class="radio-inline">
      <input name="radioGroup" id="hs2" value="some" checked="" type="radio"> 
    </label>
  </div><br>
  <h5 class="csLabel">Migrant</h5>
  <div class="csLabel pull-right">
    <label class="radio-inline">
      <input name="radioGroup" id="m1" value="all" type="radio"> 
    </label>
    <label class="radio-inline">
      <input name="radioGroup" id="m2" value="some" checked="" type="radio"> 
    </label>
  </div>
</div>

<!-- <div class="chkContainer">
    <div class="checkbox">
        <label for="snap">
            <input type="checkbox" name="snap" value="snap" id="snap"> SNAP<br>
        </label>
    </div>
    <div class="checkbox">
        <label for="fdpir">
            <input type="checkbox" name="fdpir" value="fdpir" id="fdpir"> FDPIR<br>
        </label>
    </div>
    <div class="checkbox">
        <label for="tanf">
            <input type="checkbox" name="tanf" value="tanf" id="tanf"> TANF<br>
        </label>
    </div>
    <div class="checkbox">
        <label for="none">
            <input type="checkbox" name="none" value="none" id="none"> NONE<br>
        </label>
    </div>
</div> -->

<div class="form-group row">
<div class="inline-block">
    <div class="clearfix"> 
      <div class="btn-group inline pull-right" data-toggle="buttons-checkbox">

      <a ui-sref="form.assistanceProgram1" class="btn btn-info">
      <span class="glyphicon glyphicon glyphicon-backward"></span>
      Back
      </a>

      <a ui-sref="#" class="btn btn-info">
      Save<span class="glyphicon glyphicon glyphicon-save"></span>
      </a>
      <a ui-sref="form.childStatus2" class="btn btn-info">
      Continue<span class="glyphicon glyphicon-forward"></span>
      </a>
    </div>
  </div>
  </div>
</div>

  </div>
      </div>
    </div>
  </div>

    </div>
      </div>
    </div>
  </div>

    </div>
      </div>
    </div>
  </div>